<%= form_for [:admin, @cupboard] do |f| %>

  <%= render 'shared/form_error', object: @cupboard %>  

  <div class="form-group">
    <label><h5><%= f.label :title %></h5></label>
    <%= f.text_field :title, required: true, class: "form-control" %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>