<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="navbar-brand"><%= link_to "Admin", admin_root_path %></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if current_admin_user %>
        <li class="nav-item nav-link">
          <%= link_to "Cupboards", admin_cupboards_path %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to "Users", admin_users_path %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to 'Sign Out', destroy_admin_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="nav-item nav-link">
          <%= link_to 'Sign Up', new_admin_user_registration_path %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to 'Sign In', new_admin_user_session_path %>
        </li> 
      <% end %>
    </ul>
  </div>
</nav>